.scroll {
  display: flex;
  gap: 10px;
  overflow: auto;
  width: 100vw;
}

.scroll-child {
  height: 100%;
  text-align: center;
  width: 50%;
}

.scroll-btn {
  bottom: 0%;
  position: fixed;
  right: 30%;
}

.share-btn {
  margin-bottom: 30px;
}
