header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.top-header {
  display: flex;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
}
